@import "./base.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/tab-bar.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import '~taro-ui/dist/style/components/loading.scss';
@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/tabs.scss";


@media screen and (min-width: 320px) {     //最小宽度在320以下字体大小是14px
  page {font-size: 35rpx;}
}

// @media screen and (min-width: 360px) {     //最小宽度在360以下字体大小是16px
//   page {font-size: 35rpx;}
// }

// @media screen and (min-width: 400px) {    //最小宽度在400以下字体大小是18px
//   page {font-size: 40rpx;}
// }

// @media screen and (min-width: 440px) {    //最小宽度在440以下字体大小是20px
//   page {font-size: 40rpx;}
// }
page {
  height: 100%;
  background-color: $primary_color;
}

.flex {
  display: flex;
}

.flex_item {
  flex: 1;
}

.flex_align_center {
  align-items: center;
}

.flex_between {
  justify-content: space-between;
}

.flex_row {
  flex-direction: row;
}

.flex_column {
  flex-direction: column;
}

.at-search-bar {
  background-color: $primary_color;
}
.at-tabs__header {
  background-color: $primary_color;
}

.at-tabs__item {
  color: $text_color;
}
.at-tabs__item--active {
  color: $active_color;
}

.at-tabs__item-underline {
  background-color: $active_color;
}

.at-tabs__page {
  height: 100%;
}
