$primary_color: #808082;
$active_color: #44FDFF;
$note_color: #FF3A39;
$text_color: #ffffff;
@mixin text-ellipsis {
  overflow: hidden;
  /*文本不会换行*/
  white-space: nowrap;
  /*当文本溢出包含元素时，以省略号表示超出的文本*/
  text-overflow: ellipsis;
}